*, :before, :after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box; }

a {
  text-decoration: none; }


body {
  min-width: 700px;
}

#roll-wrapper {
  position: absolute;
  width: 100%;
  height: 500%;
  top: 0;
  left: 0;
  padding: 20px;
  font-family: "PT Sans", sans-serif; }

#wrapper-border {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  border: 20px solid white;
  z-index: 1000; }

.nav-radio {
  opacity: 0;
  z-index: 1000;
}

.nav-radio, .nav-link {
  position: fixed;
  top: 35px;
  height: 34px;
  line-height: 34px;
  width: 100px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  color: white;
}

.nav-radio:checked + a, .nav-radio:hover + a {
  color: #372E2D;
}

#home-control, #home-control + a {
  right: 420px;
}

#about-control, #about-control + a {
  right: 320px;
}

#portfolio-control, #portfolio-control + a {
  right: 220px;
}

#resume-control, #resume-control + a {
  right: 120px;
}

#contact-control, #contact-control + a {
  right: 20px;
}

#headings {
  position: fixed;
  bottom: 15%;
  left: 5%;
  z-index: 1500;
  color: white;
  h1 {
    font-size: 3.5em;
    letter-spacing: 0.05em;
  }

  h2 {
    font-size: 1.5em;
    letter-spacing: 0.03em;
  }
}

#content-wrapper {
  width: 100%;
  height: 100%;
}

.topic-section-1, .topic-section-2 {
  height: 20%;
  width: 100%; }

#home-section {
  background: url(../images/computer.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#about-section {
  top: 20%;
  background: url(../images/desk.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.portrait {
  height: 250px;
  width: 250px;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  top: 28%;
  border: 15px solid white;
  margin-top: -125px;
  box-shadow: inset 3px 3px 8px gray, 2px 2px 3px black;
  display: none;
}

#about-radio-wrapper {
  height: 34px;
  width: 250px;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  margin-top: 135px;
  top: 28%;
  z-index: 1000;
  text-align: center;
}

.about-radio {
  width: 22%;
  vertical-align: top;
  margin-right: -30px;
}

.portrait-p {
  position: absolute;
  left: 55%;
  top: 27.5%;
  width: 25%;
  min-width: 300px;
  color: white;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-shadow: 0px 2px black;
  font-weight: 100;
  line-height: 30px;
    display: none;
}


#little-dan, #little-dan-p {
  display: inherit;
}

#portfolio-section {
  top: 40%;
  background: url(../images/blackboard.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#resume-section {
  top: 60%;
  background: url(../images/suit.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#contact-section {
  top: 80%;
  background: url(../images/phones.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/*# sourceMappingURL=index.css.map */
